// footer
.footer
  max-width: 1440px
  height: 410px
  display: flex
  align-items: center
  justify-content: center
  &__row
    align-self: center
    width: 1119px
    height: 304px
    display: flex
    flex-wrap: nowrap
    overflow: hidden
    margin-bottom: 30px
  &__coll
    height: 304
    &--icons
      position: relative
      margin-left: 50px
    &--logo
      width: 260px
      padding-right: 20px
      position: relative
    &--servises
      width: 281px
      padding-right: 10px
      display: flex
      flex-direction: column
      justify-content: space-between
    &--shops
      width: 260px
      padding-right: 10px
      display: flex
      flex-direction: column
      justify-content: space-between
      margin-bottom: 40px
    &--icons
      width: 287px
  &__img
    height: 60px
    margin-left: -18px
    &--soc
      margin: 0
      height: 30px
  &__text
    &--copyright
      position: absolute
      bottom: 0
      margin-bottom: 0
      color: lighten($grey, 50%)
      font-size: 14px
    &--bold
      font-size: 18px
      font-weight: 600
      line-height: 14px
    &--time
      line-height: 14px
      margin-bottom: 25px
  &__link
    color: $dark-green
    font-weight: 400
    font-size: 14px
    line-height: 22px
    white-space: nowrap
    transition: all .3s ease
    &:hover, &:active, &:focus
      color: $grey
      font-size: 15px
    &--icon
      height: 50px
      width: 50px
      border-radius: 50%
  &__wrap
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 220px
    &--soc
      position: absolute
      bottom: 0
      justify-content: space-around
  &__icon
    color: $dark-green
    background-color: $turquoise
    font-size: 18px
    font-weight: 400
    height: 47px
    width: 47px 
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    margin-right: 0
    transition: all .3s ease
    &:hover
      background-color: lighten($turquoise, 5%)
// footer END  