// goods
.goods
  height: 620px
  width: 100%
  background-color: $violet
  display: flex
  justify-content: center
  align-items: center
  &--blue
    background-color: lighten($turquoise, 10%)
  &--delivery
    background-color: $turquoise
    height: 431px

  &__img
    height: 64px
    width: 64px
    margin-bottom: 10px
    &--background
      height: 400px
      width: auto
  &__link
    color: $white
    font-weight: semibold
    width: calc(100% / 5)
    text-align: center
    &:hover, &:active, &:focus
      color: $white
      text-decoration: none
    &--button
      white-space: nowrap
      width: 375px
      transition: all .3s ease
      align-self: center
      text-align: center
      &:hover
        background-color: lighten($violet, 30%)
  &__item
    width: 33.3%
    display: flex
    justify-content: center
    flex-direction: column
    &--blue
      width: calc(33.3% - 13px)
      height: 308px
      margin-right: 20px
      &:last-child
        margin-right: 0
  &__wrap
    max-width: 1060px
    display: flex
    flex-direction: column
  &__row
    display: flex
    width: 1060px
    height: 270px
    flex-wrap: wrap
    &--blue
      margin-bottom: 50px
  &__title
    color: $white
    font-size: 40px
    line-height: 50px
    margin-bottom: 50px
    text-align: center
    &--small
      font-size: 40px
      color: $grey
      margin-bottom: 5px
      font-weight: 500
    &--blue
      color: $grey
      font-size: 16px
      margin-bottom: 5px
      line-height: 30px
      font-weight: 600
  &__text
    &--blue
      color: $grey
      text-align: center
  &__yellow
    background-color: $yellow
    color: $grey
    padding: 0 10px 10px 10px
  &__circle
    transform: rotate(45deg)
    height: 90px
    width: 60px
    border-radius: 50%
    background-color: $salad
    align-self: center
    display: flex
    justify-content: center
    align-items: center
    &--turquoise
      background-color: $turquoise 
    &--yellow
      background-color: $yellow
  &__icon
    transform: rotate(-45deg)
    color: $grey
    font-size: 35px
// goods END