// goods
.goods
  height: auto
  width: 100%
  background-color: $violet
  display: flex
  justify-content: center
  align-items: center
  &--blue
    background-color: lighten($turquoise, 10%)
  &--delivery
    background-color: $turquoise
    justify-content: space-around
  &--tryit
    background-color: $white
  &--howdeliver
    padding: 70px 90px 0 90px
    padding: 0
    background-color: $light-blue
    @media only screen and ( max-width: 991px)
      padding: 0
      flex-direction: column
    @media only screen and ( max-width: 767px)
      padding: 0
  &__input:placeholder
    color: lighten($grey, 60%)
  &__img
    height: 64px
    width: 64px
    margin-bottom: 10px
    @media only screen and ( max-width: 720px)
      height: 54px
      width: 54px
      margin-bottom: 5px
    &--background
      height: 400px
      width: auto
      margin-left: 70px
    &--tryit
      height: 370px
      margin-bottom: 0
      margin-top: auto
      @media only screen and ( max-width: 1279px)
        height: 300px
    &--delivery, &--tryit
      @media only screen and ( max-width: 991px)
        display: none
    &--shops
      height: auto
      width: 90px
      margin-bottom: 0
      @media only screen and ( max-width: 767px)
        width: 60px
  &__link
    color: $white
    font-weight: semibold
    // width: calc(100% / 5 - 10px)
    text-align: center
    &:hover, &:active, &:focus
      color: $white
      text-decoration: none
    // @media only screen and ( max-width: 991px )
    //   width: calc(100% / 5 - 10px)
    // @media only screen and ( max-width: 767px )
    //   width: calc(100% / 4 - 10px)
    // @media only screen and ( max-width: 479px )
    //   width: calc(100% / 2  - 10px)
    &--card
      margin-right: 10px
    &--button
      white-space: nowrap
      width: 375px
      transition: all .3s ease
      align-self: center
      text-align: center
      &:hover
        background-color: lighten($violet, 30% )
      @media only screen and ( max-width: 991px )
        width: 375px 
        font-size: 16px
      @media only screen and ( max-width: 479px )
        font-size: 12px
        padding-right: 10px
        padding-left: 10px
        width: auto
        // margin-bottom: 65px
    &--shops
      width: calc( 100% / 7 + 20px)
      @media only screen and ( max-width: 479px )
        flex-wrap: wrap
        margin-right: 5px
  &__item
    width: calc(100% / 3)
    display: flex
    justify-content: center
    flex-direction: column
    &--blue
      width: calc(100% / 3 - 100px)
      align-self: start
      margin-left: 40px
      margin-right: 40px
      @media only screen and ( max-width: 991px )
        width: calc(100% / 2 - 140px)
        margin-left: 70px
        margin-right: 70px
      @media only screen and ( max-width: 767px )
        width: 100%
      @media only screen and ( max-width: 420px )
        margin-left: 0
        margin-right: 0
  &__wrap
    width: auto
    max-width: 1280px
    display: flex
    // justify-content: center
    // align-items: center
    flex-direction: column
    overflow: hidden
    &--forinput
      flex-direction: row
      @media only screen and ( max-width: 479px)
        flex-direction: column
        height: auto !important
    &--warning
      height: 84px
      @media only screen and ( max-width: 479px)
        height: auto
    // &--violet
    //   @media only screen and ( max-width: 767px)
    //     margin-left: 20px
    //     margin-right: 20px
  &__row
    display: flex
    max-width: 1279px
    margin-bottom: 35px
    height: auto
    flex-wrap: wrap
    margin-left: auto
    margin-right: auto
    justify-content: center
    @media only screen and ( max-width: 767px)
      margin-left: 40px
      margin-right: 40px
    @media only screen and ( max-width: 479px)
      margin-left: 10px
      margin-right: 10px
  &__heading
    color: $white
    font-size: 40px
    line-height: 50px
    margin-bottom: 30px
    text-align: center
    font-style: normal
    font-weight: 600
    text-align: center
    @media only screen and ( max-width: 767px)
      font-size: 30px
    @media only screen and ( max-width: 479px)
      font-size: 22px
      line-height: 35px !important
      line-height: 45px
      margin-bottom: 20px
      margin-top: 25px
    // &--small
    //   font-size: 40px
    //   color: $grey
    //   font-weight: 500
    //   display: block
    //   @media only screen and ( max-width: 767px)
    //     font-size: 22px
    //     line-height: 35px
  &__subject
    color: $grey
    font-size: 18px
    margin-bottom: 5px
    margin-top: 5px
    line-height: 30px
    font-weight: 600
    white-space: nowrap
    text-align: center
    margin-top: 0
    width: auto
    margin-bottom: 8px
    @media only screen and ( max-width: 767px)
      font-size: 16px
      margin-bottom: 10px
    // &--pop
    //   @media only screen and ( max-width: 767px)
    //     margin-bottom: 0
    //     margin-top: 20px
    //     width: 280px
    //     margin-right: auto
    //     margin-left: auto
    // &--tryit
    //   text-align: start
      // @media only screen and ( max-width: 767px)
  &__text
    font-weight: regular
    &--blue
      color: $grey
      text-align: center
      line-height: 30px
      @media only screen and ( max-width: 991px)
        font-size: 16px
        line-height: 25px
      @media only screen and ( max-width: 767px)
        line-height: 20px
        font-size: 12px
    &--warning
      display: none
      color: $crimson
    &--tryit
      font-size: 18px
      line-height: 30px
      width: 80%
      margin-bottom: 15px
      @media only screen and ( max-width: 991px)
        font-size: 18px
        width: 100%
    &--small
      font-size: 16px
      @media only screen and ( max-width: 720px)
        font-size: 12px 
    &--howdeliver
      @media only screen and ( max-width: 1279px)
        font-size: 14px
        line-height: 26px
        margin-bottom: 0
    &--delivery
      @media only screen and ( max-width: 1279px)
        text-align: center
  &__yellow
    background-color: $yellow
    color: $grey
    padding: 0 10px 10px 10px
  &__circle
    transform: rotate(45deg)
    height: 90px
    width: 60px
    border-radius: 50%
    background-color: $salad
    align-self: center
    display: flex
    justify-content: center
    align-items: center
    &--turquoise
      background-color: $turquoise 
    &--yellow
      background-color: $yellow
  &__icon
    transform: rotate(-45deg)
    color: $grey
    font-size: 35px
  &__input
    width: 100%
    border: none
    padding: 12px
    font-size: 16px
    color: $grey
    border-radius: 4px
    background-color: lighten($turquoise, 10%)
    &:hover, &:focus, &:active
      outline: none
    &--tryit
      width: 187px
      height: 50px
    @media only screen and ( max-width: 767px)
      height: 35px
    @media only screen and ( max-width: 479px)
      margin-bottom: 15px
      width: 100%
  &__button
    background-color: $white
    transition: all .3s ease
    width: 177px
    margin-left: 10px
    flex-shrink: 0
    font-size: 14px
    border: none
    border-radius: 4px
    &:hover, &:focus, &:active
      background-color: lighten($turquoise, 10%)
      outline: none
    &--tryit
      background-color: $turquoise
      &:hover, &:focus, &:active
        background-color: darken($turquoise, 7%)
      @media only screen and ( max-width: 479px)
        height: 48px
    &--howdeliver
      height: 48px
      width: 100%
      background-color: $white
      font-size: 16px
      margin: 0
      padding: 0
      &:hover
        background-color: lighten($turquoise, 3%)
    &--delivery
      font-weight: 600
      @media only screen and ( max-width: 767px)
        height: 35px 
        margin-bottom: 20px
      @media only screen and ( max-width: 479px)
        width: 100%
        margin-left: 0
  &__shops
    display: flex
    width: 100%
    @media only screen and ( max-width: 479px)
      flex-wrap: wrap
  &__coll
    overflow: hidden
    &--tryit
      max-width: 767px
      width: auto
      height: auto
      margin: 90px 0px 90px 80px
    &--howdeliver
      max-width: 816px
      width: auto 
      @media only screen and ( max-width: 991px)
        margin-right: 0 
        margin-left: 0
    &--wrap
      height: 393px
      overflow: hidden
      margin-bottom: 30px
      transition: height .5s ease
      padding: 0
    &--delivery
      display: inline-block
      width: 60%
      margin-right: 0
      margin-left: auto
      padding-bottom: 70px
      @media only screen and ( max-width: 1279px)
        width: 100%
        margin-left: auto
        margin-right: auto
      @media only screen and ( max-width: 991px)
        padding-bottom: 10px
      //   margin: 0
      //   margin-bottom: 10px
      // @media only screen and ( max-width: 479px)
  &__list
    padding-left: 0
    list-style-position: inside
  &__nowrap
    white-space: nowrap
    @media only screen and ( max-width: 991px)
      white-space: pre-wrap
.collapse
  height: 1600px
  max-height: auto
  transition: height .5s ease
  @media only screen and ( max-width: 1439px)
    height: 1450px
  @media only screen and ( max-width: 1279px)
    height: 1550px
  // @media only screen and ( max-width: 991px)
  //   height: 2000px
  // @media only screen and ( max-width: 814px)
  //   height: 1700px
  // @media only screen and ( max-width: 767px)
  //   height: 1400px
  // @media only screen and ( max-width: 479px)
  //   height: auto

// goods END  