// header
.header
  max-width: 1440px
  &__container
    margin-top: 15px
    margin-left: auto
    margin-right: auto
    display: block
    width: 1170px
  &__img
    height: 60px
    width: auto
    margin-left: -18px
    margin-right: 45px
  &-top
    display: flex
    align-items: center
    margin-left: auto
    margin-right: auto
    &__list
      display: flex
      font-size: 14px
      align-items: center
    &__icon
      color: $dark-green
      font-size: 25px
      width: 50px
      height: 50px
      border-radius: 50%
      background-color: $turquoise
      display: flex
      justify-content: center
      align-items: center
// header END