// header
.header
  max-width: 1440px
  margin-left: auto
  margin-right: auto
  &__container
    margin-top: 15px
    margin-left: auto
    margin-right: auto
    display: block
    width: 1170px
  &__img
    height: 60px
    width: auto
    margin-left: 80px
    margin-right: 25px
  &__top
    display: flex
    position: fixed
    align-items: center
    // margin-left: auto
    // margin-right: auto
    margin-bottom: 15px
    background-color: $white
    z-index: 100
    margin-top: -15px
    height: 80px
    width: 100%
  &__list
    display: flex
    font-size: 14px
    align-items: center
    flex-wrap: nowrap
  &__icon
    color: $dark-green
    font-size: 25px
    width: 50px
    height: 50px
    border-radius: 50%
    background-color: $turquoise
    display: flex
    justify-content: center
    align-items: center
// header END