// header
.header
  &__img
    height: 60px
    width: auto
    margin-left: 65px
  &__wrapper
    margin-left: auto
    margin-right: auto
    display: block
    width: 100%
    max-width: 1440px
  &-top
    display: flex
    margin-left: auto
    margin-right: auto
    margin-top: 20px
    &__list
      display: flex
      font-size: 14px
    &__item
      list-style: none
      margin-right: 20px
    &__link
      color: $grey
      &:hover
        text-decoration: none
        color: inherit
  // &__icon
  //   height: 30px
  //   width: 30px
// header END