// shops
.shops
  display: flex
  justify-content: center
  height: 106px
  align-items: center
  margin-left: auto
  margin-right: auto
  flex-wrap: wrap
  width: 100%
  line-height: 100px
  @media only screen and ( max-width: 1280px)
    width: 1279px
  @media only screen and ( max-width: 992px)
    width: 991px
  @media only screen and ( max-width: 768px)
    width: 767px
  @media only screen and ( max-width: 480px)
    width: 479px
  &__links
    border-right: 1px solid lighten($grey, 65% )
    flex-grow: 1
    display: flex
    justify-content: center
    @media only screen and ( max-width: 768px)
      justify-content: flex-start
    &:last-child
      border: none
    &__img
    height: 55px
    align-self: center
    @media only screen and ( max-width: 768px)
      height: 15px

    

// shopsEND