// shops
.shops
  border: 1px solid red
  display: flex
  justify-content: space-between
  height: 106px
  align-items: center
  &__links
    border: 1px solid blue
  &__img
    border: 1px solid green
    height: 36px

    

// shopsEND