// wrapper
.wrapper
  margin: 70px 80px 90px 80px
  width: auto
  max-width: 1279px
  background-color: $white
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden
  &--violet
    margin-bottom: 100px
    flex-direction: column
    background-color: $violet
    @media only screen and ( max-width: 992px)
      margin: 60px 17px 80px 17px
    @media only screen and ( max-width: 720px)
      margin: 30px 17px 40px 17px
    @media only screen and ( max-width: 480px)
      margin: 0 17px 30px 17px
  &--howdeliver
    background-color: $light-blue
    @media only screen and ( max-width: 1200px)
      flex-direction: column
  &--footer
    align-items: space-between
    justify-content: space-between
    flex-wrap: nowrap
    margin-bottom: 60px
    margin-top: 50px
    @media only screen and ( max-width: 992px)
      height: 250px
      width: 100%
      flex-direction: column-reverse
  &--blue
    flex-direction: column
    background-color: lighten($turquoise, 10%)
    @media only screen and ( max-width: 1280px)
      margin-right: 20px
      margin-left: 20px
    // @media only screen and ( max-width: 992px)
    //   margin-right: 20px
    //   margin-left: 90px

    @media only screen and ( max-width: 768px)
      margin-top: 50px
      margin-bottom: 40px
    @media only screen and ( max-width: 480px)
      margin: 30px
  &--popnow
    flex-direction: column
  &--delivery
    background-color: $turquoise
    margin-bottom: 30px
// wrapper END